body{
	background-color: #fffcfd;
}


#panel{
	width: 35%;
	margin-top: 10%;
	margin-left: 30%;
	border: 2px solid #f2eae7;
}

.panel-default>.panel-heading{
	background-color: #cdb5ab;
	padding:15px 30px;
	color: #fff;
	font-size: 25px;
}

.panel-heading>img{
	margin-right: 30px;
	position: relative;
	bottom: 2px;
}

.panel-body{
	padding:30px 92px;
	color: #cdb5ab;
	font-size: 20px;
}

.info-item{
	margin: 10px 0px;
}

.info-item>.info-title{
	margin-right: 10px;
	font-weight: bold;
}

.info-item>.info-data{
	overflow: hidden;
}