body{
  padding-top: 70px;/*有顶部固定导航条时设置*/
  font-family: Microsoft YaHei;
  background-color: #fff6f7;

}

button:focus{
	outline: 0!important;
}

textarea:focus{
	outline: 0!important;
}

a:focus{
	outline: 0!important;
}

input:focus{
	outline: 0!important;
}

select:focus{
	outline: 0!important;
}

.disableLink{           /*链接无效化*/
	pointer-events:none;
	color:#afafaf;
	cursor:default;
}

.unselectable {         /* 禁止选中文字 */
   -moz-user-select:none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

.navbar-default{
	background-color: #FFF;
}


.navbar-nav{
	float: right;
	padding-right: 50px;
}

.navbar-nav img{
	position: relative;
	bottom: 5px;
}

.navbar-nav>li{
	margin:6px 20px; 
	height: auto;
}

.navbar-default .navbar-nav>li>a{
	color: #d8c4bd;
	font-size: 20px;
	font-family: Microsoft YaHei;
}

.navbar-default .navbar-nav>li>a:link{
	color: #d8c4bd;
}

.navbar-default .navbar-nav>li>a:visited{
	color: #d8c4bd;
}

.navbar-default .navbar-nav>li>a:hover{
	/* color: #ff9fad; */                              /* 粉红 */
	color: #d8c4bd;
}

.navbar-default .navbar-nav>li>a:active{
	color: #d8c4bd;
}

.brand{
	width: 15%;
	height: 100%;
}

.menu{
	position: fixed;
	left: 0;
	width: 15%;
	height: 100%;
	background-color: #ff9fad;
}

.menu>div:first-child{
	padding: 20px 10px; 
}

.list-group-item{
	background-color: inherit;
	color: #FFF;
	text-align: left;
	border: none;
	font-size: 18px;
	font-weight: 100;
}

#index{
	font-size: 22px;
	padding-left: 20%;
	text-align: left;
}

a.list-group-item{
	color: #FFF;
	text-align: left;
	padding-left: 35%;
}

a.list-group-item:link{
	background-color: #ff9fad;
	color: #FFF;
}

a.list-group-item:visited{
	background-color: #ff9fad;
	color: #FFF;
}


a.list-group-item:hover{
	background-color: #ff80a6;
	color: #FFF;
}


a.list-group-item:active{
	color: #FFF;
	background-color: #ff9fad;
}

.listTitle{
	padding-top: 20px;
	padding-bottom: 20px;
}

div.list-group-item{
	font-size: 22px;
	padding-left: 20%;
	text-align: left;
}

.onSelect{
	background-color: #e57394!important;
}

.avatar{
	border-radius: 50%;
	border: 3px solid #ff9fad;
	width: 30%;
	height: 30%;
}

.avatar,.info{
	display: inline-block;
}

.info{
	position: relative;
	top:10px;
	left: 10px; 
}

.info1{
	list-style-type:none;
	font-size: 20px;
	color: #FFF;
}

.info2{
	list-style-type: none;
	font-size: 14px;
	color: #FFF;
	margin-top: 5px;
}

.info ul{
	padding-left: 0;
	position: relative;
	top: 10px;
}

.list-group-item > span > img{
	margin-right: 4%;
}

.right-container{
	margin-left: 15%;
}

.right-container,.menu{
	display: block;
}

.swal2-modal{
	position: fixed;
	left: 50%;
	top: 50%;
}

/* 分页导航样式 */

.pagination>a,.pagination>span{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #c2aaa8;
    text-decoration: none;
    background-color: #ffe4e9;
    border: none;
    margin:0px 2px;
}

.pagination>a,.pagination>span,.pagination>input{
	float: left;
}



.pagination>li>a{
	background-color: #ffe4e9;
	color: #c2aaa8;
	border:none;
	margin:0px 2px;
}

.pagination>.active{
	background-color: #ff94ac;
	color: #FFF;
}


.pagination>.active:link{
	background-color: #ff94ac;
	color: #FFF;
}

.pagination>.active:visited{
	background-color: #ff94ac;
	color: #FFF;
}

.pagination>.active:hover{
	background-color: #ff94ac;
	color: #FFF;
}

.pagination>.active:active{
	background-color: #ff94ac;
	color: #FFF;
}

.pagination>a:link{
	background-color: #ffe4e9;
	color: #c2aaa8;
}

.pagination>a:visited{
	background-color: #ffe4e9;
	color: #c2aaa8;
}

.pagination>a:hover{
	background-color: #ff94ac;
	color: #FFF;
}

.pagination>a:active{
	background-color: #ffe4e9;
	color: #c2aaa8;
}

.pagination>a:focus{
	background-color: #ffe4e9;
	color: #c2aaa8;
}

.jump-ipt{
	width: 50px;
	padding: 4px 12px;
	color: #c2aaa8;
}

/* 分页导航样式 */




@media(max-width: 1440px){
	.brand{
		margin-top: 10px;
	}

	.right-container{
		margin-left: 15%;
	}

	div.list-group-item{
		font-size: 20px;
		padding-left: 15%;
	}

	#index{
		font-size: 20px;
		padding-left: 15%;
	}

	.list-group-item{
		font-size: 16px;
	}

	.avatar{
		width: 42%;
		height: 42%;
	}
	
	.info1{
		font-size: 18px;
	}

	.info2{
		font-size: 12px;
	}

	.info{
		top: 0;
	}

}

/* 以下为页面样式 */