body{
	color: #b99d99;
}


.right-container{
	padding: 40px;
}

/*#panel-1{
	width: 100%;
}
*/
#panel-2{
	width: 100%;
}

#panel-2-1{
	width: 30%;
	margin-right: 2%;
}

#panel-2-1>.panel-body{
	padding: 20px 10%;
}

#panel-2-2>.panel-body{
	padding: 30px 5%;
}

#panel-2-1>.panel-body>input,select{
	width: 100%;
	padding: 6px 5px;
	margin: 5px 0px;
	border: 2px solid #fbcfce;
	border-radius: 5px;
	color: #b8a59e;
	height: 5%;
}



#panel-2-2{
	width: 67%;

	vertical-align: top;
}

#panel-2-1,#panel-2-2{
	display: inline-block;
}

.panel-default>.panel-heading{
	background-color: #ffa0ae;
	color: #fff;
	padding:15px 50px;
	font-size: 20px;
}

.panel-body{
	padding: 20px 3%;
}

.col-xs-12>.list-group{
	/*height: 380px;*/              /* normal */
	height: 300px;             /* 暂时情况 */  
	border: 1px solid #febece;
	overflow: hidden;
}

.col-xs-12>.list-group>a{
	background-color: #fff;
	color: #a7948e;
	text-align: center;
	padding: 15px 0px;
}

.col-xs-12>.list-group>.typeOnSelect{
	background-color: #FFEFF5;
	color: #ff9fab;
}

#panel-1>.panel-body>textarea{
	resize: none;
	border: 1px solid #febece;
	padding: 10px 10px;
	color: #d5cac6;
	font-size: 18px;
	height: 380px;
}


#radio-group>form{
	display: inline-block;
	color: #a69287;
	font-weight: bold;
	font-size: 18px;
}

#radio-group>form:first-child{
	margin-right: 4%;
}

#radio-group>form>label{
	color: #a69287;
	font-size: 18px;
	margin-left:18px;
	font-weight: 400;
}

#title-input{
	width:100%;
}

#babyTitle{
	width: 100%;
	color: #a99793;
	padding:10px 10px;
	margin:20px 0 20px 0;
	border: 1px solid #fccfcc;
	border-radius: 6px;
	font-size: 18px;
}

#text-input{
	width: 100%;
}

#text-input>textarea{
	width: 100%;
	border: 1px solid #fccfcc;
	border-radius: 6px;
	color: #a99793;
	resize: none;
	padding: 10px 10px;
	font-size: 18px;
	height: 200px;
}

#babyTitle:focus{
	border: 2px solid #febece;
	color: #ff98a6;
}

#text-input>textarea:focus{
	border: 2px solid #febece;
	color: #ff98a6;
}

#pic-input{
	width: 100%;
	margin-top: 10px;
}


.pic-group-1>img,.pic-group-2>img{
	display: inline-block;
	border: 1px solid #ffbdbe;
	color: #fff;
}

#addPic_1,#addPic_2{
	vertical-align: center;
	color: #fb9cb0;
	border: 1px solid #fb9cb0;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 0;
	font-weight: bold;
	margin-left: 10px;
}

#addLongImg{
	float: right;
}

#panel-3>.panel-body{
	padding: 30px 5%;
}

.table-bordered>thead{
	background-color: #ffa0ae;
	color: #fff;
}

.table-bordered>thead>tr>th{
	border-left: 2px solid #fff;
	text-align: center;
	font-size: 16px;
	height: 45px;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	font-weight: 400;
}

.table-bordered>thead>tr>th:first-child{
	border-left:0;
}

.table-bordered>tbody>tr>td{
	border: 1px solid #ffb0c1;
	font-size: 15px;
	height: 45px;
	width: 170px;
	padding: 0px;
}

.table-bordered>tbody>tr>td>input{
	height: 100%;
	width: 100%;
	border:none;
	text-align: center;
}


#addSize{
	vertical-align: center;
	color: #fb9cb0;
	border: 1px solid #fb9cb0;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 0;
	font-weight: bold;
	margin-left: 10px;
	float: right;
}

#radio-group-2>form{
	display: inline-block;
}

#radio-group-2>form{
	color: #b99d99;
	font-size: 15px;
	font-weight: bold;
}

#radio-group-2>form>label{
	font-weight: 400;
}

#radio-group-2>form>label:first-child{
	margin-left: 15px;
	margin-bottom: 0;
}

#radio-group-2>form:first-child{
	margin-right: 5%;
}

#btn-group-bottom{
	width: 100%;
	text-align: center;
}


#btn-group-bottom>button{
	background-color: #ff9fad;
	color: #fff;
	font-size: 18px;
	width: 200px;
	padding: 10px 20px;
	border: 0;
	border-radius: 0;
}

#btn-group-bottom>button:first-child{
	background-color: #fdca9b;
	margin-right: 2%;
}

.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;

    vertical-align: center;
	color: #fb9cb0;
	border: 1px solid #fb9cb0;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 0;
	font-weight: bold;
	margin-left: 10px;
}

.file input {
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #fff;
    border-color: #fb9cb0;
    color: #fb9cb0;
    text-decoration: none;
}

.pic-group-1,.pic-group-2{
	display: inline-block;
}

#deposit{
	width: 70px;
	padding: 4px 8px;
	color: #c2aaa8;
	margin-left: 10px;
	margin-right: 5px;
}

.invisible{
	visibility:hidden;
}

.pink{
	background-color: #ffa0ae;
}

.red{
	color: #ff0000;
	font-weight: bold;
	font-size: 16px;
}